---
profile: false
title: "Welcome to Code and Coffee, Long Beach"
---
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<style>
#hero {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100%);
  background:black;
  z-index:0;
  -webkit-box-shadow: 10px 5px 81px -5px rgba(122,115,122,1);
  -moz-box-shadow: 10px 5px 81px -5px rgba(122,115,122,1);
  box-shadow: 10px 5px 81px -5px rgba(122,115,122,1);
}

#floatinglogo {
  display: none;
}

nav.main-nav {
  top: 0;
  width: 100%;
  position:fixed;
  background:transparent;
}
#wrapper {

}

#hero > .backdrop {
  background:rgba(0,0,0,0.5);
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#hero > video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.videoContainer
{
  position:absolute;
  height:100%;
  width:100%;
  overflow: hidden;
}

.videoContainer video
{
  min-width: 100%;
  min-height: 100%;
}

#hero .header-content {
  position: absolute;
  top: calc(50% - 117px);
  width: 100%;
  text-align: center;
  color: white;
  z-index:3;
}

#hero .header-content h1 {
  color:white;
  font-size:40px;
  font-family: Raleway;
}

#hero .header-content p {
  color:white;
}

#hero .hero-logo {
  background: transparent;
  z-index: 1;
  font-size: 8px;
  display:inline-block;
}

#hero .hero-logo pre {
  background: transparent;
  font-size: 2px;
}

#post-list {
  margin-top: calc(100% + 200px);
}

</style>

<div id='hero'>
  <div class='backdrop'></div>
  <div class='videoContainer'>
    <video autoplay='true' loop>
      <source src='https://s3-us-west-1.amazonaws.com/avojeez0-public/codeandcoffeehero.mp4' type='video/mp4'>
    </video>
  </div>
  <div class='header-content'>
    <div class='hero-logo'>
      <pre >
                                        x0c.
                                         .:OO.
                                            xk
                                            xk
                                         .lOk.
                      'ox'            'oOOl.
                    ;xx:.           .dkc.
                   dNl             'XO.
                  .Xd              dW;
                  .KO.             lWo
                   ,kO:.            ,oxdl:,'...
                     .oOOxl;.          .,codxkOOOd'
                        .';ldxd'                .;xOc
                              ,O0,                 :X;
                               .00.                cX;
                               .00.              'xKc
                             .o0x'           .,lk0:
                          .lkxc.       .;oddddl:'
                          xO.       'o0Oo,.
                         'N;      .kOc.
                          xO'     kd
                           oXx.   kx
                            .ckdc',OO:
                               'lxl.;x:
             .oxxxkkkkkkkOOOOOOO0000000000KKKKKKKKKKKKKKKK00'
             ,XMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMl   ':cc:,.
             ;NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMOlOXMMMWMMWKd.
             cWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk:....;oKMWk.
             lMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,        .OMMO
             oMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd          cMMX
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0.         kMM0
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXd,.  .'cOMW0,
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNWMMNKKNMMMXc
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMc.:oxkkxoc,.
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM;
             oMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM;
             :WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW'
             .KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK.
              xMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd
              ,WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN,
               lWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNc
                cXWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWx.
                  .......................................
.:dOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOk;
  .lKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNc
     'ckXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNO,
        .:xKXXXXNNNNNNNNNWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMWWWWNXK0kdc'
      </pre>
    </div>
    <h1>code + coffee / long beach</h1>
    <p>every saturday, from 10am to whenever, @ <a href="https://www.google.com/maps/place/236+Pine+Ave,+Long+Beach,+CA+90802/">MADE</a></p>
  </div>
</div>

{% include post-list.html %}
{% include member-list.html %}
{% include footer.html %}
