---
profile: false
title: "Welcome to Code and Coffee, Long Beach"
permalink: members/
---
<!-- {% include hero.html %} -->


<h1>hi there.</h1>
<div id="member_list" class="content_box">
<h3>meet other members, and <a href="#member_howto">introduce yourself:</a></h3>
  {% for post in site.posts %}
    {% if post.category == 'member' %}
      {% assign author = site.authors[post.author] %}
      {{ author.display_name }}
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    {% endif %}
  {% endfor %}
</div>


<div id="member_howto" class="content_box">
<h3>how to add yourself:</h3>

<ol>
  <li>join our <a href="https://github.com/codeandcoffeelb">Github organization</a> - ask someone at the meetup to invite, or on <a href="https://codeandcoffee.slack.com">our Slack</a></li>
  <li>pick a username based on the name you're commonly known as. All lowercase, no numbers, no punctuation. Mine is <code>rogerhoward</code></li>
  <li>clone the <a href="https://github.com/codeandcoffeelb/codeandcoffeelb.github.io">repo</a></li>
  <li>make a new branch off of master, named based on your username, such as <code>members/rogerhoward</code></li>
  <li>create a new file in <code>/posts/members/</code> named by date and username, such as <code>2015-09-29-rogerhoward.md</code></li>
  <li>Tell us a bit about yourself using <a href="https://help.github.com/articles/markdown-basics/">Markdown</a> to format your content. Make sure to include the headers from <code>template.md</code>.</li>
  <li>Commit your changes - <a href="http://chris.beams.io/posts/git-commit/">write a good commit message!</a></li>
  <li>Open a pull request - <a href="https://github.com/blog/1943-how-to-write-the-perfect-pull-request">how to write the perfect pull request.</a></li>
  <li><a href="https://codeandcoffee.slack.com">Hop on our slack</a> and ask someone to merge it for you!</a></li>
</ol>
</div>


  {% include follow.html %}
  {% include footer.html %}
<!-- {% include follow.html %} -->