<div class="floatinglogo" style="position: fixed; left; 0px; top: 0px; z-index: 0; opacity: 0.2;">
<pre style="background-color: #ffffff; color: #000000; font-size: 0.2em">
                                         x0c.                               
                                         .:OO.                              
                                            xk                              
                                            xk                              
                                         .lOk.                              
                      'ox'            'oOOl.                                
                    ;xx:.           .dkc.                                   
                   dNl             'XO.                                     
                  .Xd              dW;                                      
                  .KO.             lWo                                      
                   ,kO:.            ,oxdl:,'...                             
                     .oOOxl;.          .,codxkOOOd'                         
                        .';ldxd'                .;xOc                       
                              ,O0,                 :X;                      
                               .00.                cX;                      
                               .00.              'xKc                       
                             .o0x'           .,lk0:                         
                          .lkxc.       .;oddddl:'                           
                          xO.       'o0Oo,.                                 
                         'N;      .kOc.                                     
                          xO'     kd                                        
                           oXx.   kx                                        
                            .ckdc',OO:                                      
                               'lxl.;x:                                     
             .oxxxkkkkkkkOOOOOOO0000000000KKKKKKKKKKKKKKKK00'               
             ,XMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMl   ':cc:,.     
             ;NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMOlOXMMMWMMWKd.  
             cWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWk:....;oKMWk.
             lMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,        .OMMO
             oMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd          cMMX
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM0.         kMM0
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXd,.  .'cOMW0,
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNWMMNKKNMMMXc  
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMc.:oxkkxoc,.   
             dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM;              
             oMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM;              
             :WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW'              
             .KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK.              
              xMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd               
              ,WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN,               
               lWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNc                
                cXWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWx.                 
                  .......................................                   
.:dOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOk;    
  .lKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNc     
     'ckXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNO,      
        .:xKXXXXNNNNNNNNNWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMWWWWNXK0kdc'        
</pre>
</div>