<div id="follow_block">
    <p>Find us:</p>
    <ul>
        <li>Twitter: <a href="http://twitter.com/codeandcoffeelb">@codeandcoffeelb</a></li>
        <li>Facebook: <a href="https://www.facebook.com/groups/codeandcoffeelb/">Code and Coffee, Long Beach</a></li>
        <li>Github org: <a href="https://github.com/codeandcoffeelb">codeandcoffeelb</a></li>
        <li>Slack: <a href="https://codeandcoffee.slack.com">codeandcoffee.slack.com</a></li>
        <li>twice monthly, from 10:30am to 2:30pm, @ <a href="https://www.google.com/maps/search/4195%20N%20Viking%20Way,%20%23D,%20Long%20Beach,%20CA%2090808?hl=en&source=opensearch">Ironfire</a>
        </li>
    </ul>
</div>