<div id="follow_block">
    <p>Find us:</p>
    <ul>
        <li>Twitter: <a href="http://twitter.com/codeandcoffeelb">@codeandcoffeelb</a></li>
        <li>Facebook: <a href="https://www.facebook.com/groups/codeandcoffeelb/">Code and Coffee, Long Beach</a></li>
        <li>Github org: <a href="https://github.com/codeandcoffeelb">codeandcoffeelb</a></li>
        <li>Slack: <a href="https://codeandcoffee.slack.com">codeandcoffee.slack.com</a></li>
        <li>And every Saturday, 10am, at <a href="https://www.google.com/maps/place/236+Pine+Ave,+Long+Beach,+CA+90802/">MADE in Long Beach</a></li>
    </ul>
</div>