<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">about </a>
        {% endif %}
    {% endif %}

    {% if page.url != "/members/" %}
            <a href="/members/">members </a>
    {% endif %}

    {% if page.url != "/challenges/" %}
            <a href="/challenges/">challenges </a>
    {% endif %}

    {% if page.url != "/conduct/" %}
            <a href="/conduct/">conduct </a>
    {% endif %}

</nav>