body {
font-family: 'Open Sans', sans-serif;

}

li {
  font-size: 0.9em;
  line-height: 140%;
  margin-bottom: 8px;
}


h1 {
  margin-bottom: 10px;
}

.content_box {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

code {
  background-color: #eeeeee;
  font-family: monospace;
  font-size: 0.9em;
}

 #logo {
  background-color: #ffffff;
  color: #000000;
  font-size: 0.3em;
}

#floatinglogo {
  width:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1000;
  opacity: 0.15;
}

@media screen and (max-width: 1020px) {
    #floatinglogo {
        display: none;
    }
}



.post-date {
  color: #aaaaaa;
}

#greensquare {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #007700;
}

