<form action="https://getsimpleform.com/messages?form_api_token=00b8faf1c4f06947f27ead284f44bee3" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://www.codeandcoffeelb.org/signin/done' />
  <!-- all your input fields here.... -->
  <input id="form_full_name" name="full_name" placeholder="Full Name" size="50" type="text" /><br>
  <input id="form_email_address" name="email_address" placeholder="Email Address" size="50" type="text" /><br><br>
  <input type='submit' value='Join Code + Coffee' />
</form>
      